# Adonis default .gitignore ignores
node_modules
build
coverage
.vscode
.idea
.DS_STORE
#.env
tmp
build

# Additional good to have ignores for dockerignore
Dockerfile*
docker-compose*
.dockerignore
*.md
.git
.gitignore
